In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Datasets/Leases.csv')

In [9]:
pd.set_option('display.max_columns', None)
df.head()

,year,quarter,monthsigned,market,building_name,building_id,address,region,city,state,zip,internal_submarket,internal_class,leasedSF,company_name,internal_industry,transaction_type,internal_market_cluster,costarID,space_type,CBD_suburban,RBA,available_space,availability_proportion,internal_class_rent,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent,leasing
0,2018,Q1,1.0,Atlanta,10 Glenlake North Tower,Atlanta_Central Perimeter_Atlanta_10 Glenlake ...,10 Glenlake Pky NE,South,Atlanta,GA,30328.0,Central Perimeter,A,24736.0,Capital Investment Advisors,Financial Services and Insurance,Expansion,NaN,445509,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
1,2018,Q1,1.0,Atlanta,100 City View,Atlanta_Northwest_Atlanta_100 City View_3330 C...,3330 Cumberland Blvd,South,Atlanta,GA,30339.0,Northwest,A,965.0,NaN,NaN,New,NaN,436994,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
2,2018,Q1,1.0,Atlanta,1000 Parkwood,Atlanta_Northwest_Atlanta_1000 Parkwood_1000 P...,1000 Parkwood Cir SE,South,Atlanta,GA,30339.0,Northwest,A,2215.0,Efc Moen,NaN,New,NaN,434890,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
3,2018,Q1,1.0,Atlanta,1100 Circle 75,Atlanta_Northwest_Atlanta_1100 Circle 75_1100 ...,1100 Circle 75 Pky SE,South,Atlanta,GA,30339.0,Northwest,O,1925.0,NaN,NaN,New,NaN,434720,Relet,Suburban,65810449.0,12728989.0,0.193419,18.560886,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715742.0
4,2018,Q1,1.0,Atlanta,1200 Ashwood,Atlanta_Central Perimeter_Atlanta_1200 Ashwood...,1200 Ashwood Pky,South,Atlanta,GA,30338.0,Central Perimeter,A,2404.0,NaN,NaN,New,NaN,437562,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0

In [19]:
print(len(df['company_name']))
print(len(df.dropna(subset=['company_name', 'internal_industry'], how='all')))
print(df[df['internal_industry'].isna() & df['company_name'].notna()]['company_name'].nunique())

194685
41118
13645

In [24]:
df['internal_industry'].unique()

array(['Financial Services and Insurance', nan,
       'Construction, Engineering and Architecture',
       'Technology, Advertising, Media, and Information',
       'Manufacturing (except Pharmaceutical, Retail, and Computer Tech)',
       'Associations and Non-profit Organizations (except Education and Non-profit Hospitals)',
       'Transportation', 'Coworking and Executive Suite Companies',
       'Business, Professional, and Consulting Services (except Financial and Legal) - Including Accounting',
       'Education', 'Legal Services',
       'Real Estate (except coworking providers)', 'Healthcare',
       'Personal Services and Recreation', 'Government', 'Retail',
       'Energy & Utilities', 'TBD', 'Pharmaceuticals',
       'Agriculture, Forestry, Fishing, Metal & Mineral Mining',
       'Unclassifiable'], dtype=object)

In [25]:
zips = pd.read_csv('../Datasets/uszips.csv')

In [26]:
zips.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16721.0,100.2,72001,Adjuntas,"{""72001"": 98.74, ""72141"": 1.26}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37510.0,477.6,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,48317.0,543.1,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5435.0,47.3,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,25413.0,264.4,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.82, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [43]:
zips[(zips['state_id'] == 'GA') & (zips['zip'] == 30002)]

Empty DataFrame
Columns: [zip, lat, lng, city, state_id, state_name, zcta, parent_zcta, population, density, county_fips, county_name, county_weights, county_names_all, county_fips_all, imprecise, military, timezone]
Index: []

In [44]:
zips .dtypes

zip                  object
lat                 float64
lng                 float64
city                 object
state_id             object
state_name           object
zcta                   bool
parent_zcta         float64
population          float64
density             float64
county_fips           int64
county_name          object
county_weights       object
county_names_all     object
county_fips_all      object
imprecise              bool
military               bool
timezone             object
dtype: object