In [4]:
import pandas as pd

# to ensure displayed tables don't truncate columns
pd.set_option('display.max_columns', None)

# Load in the datasets
We are going to combine the US Zip Code dataset with the Leases dataset
This will help us get leasing as latitude and longitude so we can plot it on a map for visualisation

In [5]:
leases = pd.read_csv('../Datasets/Leases.csv')
zip_codes = pd.read_csv('../Datasets/uszips.csv')

leases.head()

,year,quarter,monthsigned,market,building_name,building_id,address,region,city,state,zip,internal_submarket,internal_class,leasedSF,company_name,internal_industry,transaction_type,internal_market_cluster,costarID,space_type,CBD_suburban,RBA,available_space,availability_proportion,internal_class_rent,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent,leasing
0,2018,Q1,1.0,Atlanta,10 Glenlake North Tower,Atlanta_Central Perimeter_Atlanta_10 Glenlake ...,10 Glenlake Pky NE,South,Atlanta,GA,30328.0,Central Perimeter,A,24736.0,Capital Investment Advisors,Financial Services and Insurance,Expansion,NaN,445509,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
1,2018,Q1,1.0,Atlanta,100 City View,Atlanta_Northwest_Atlanta_100 City View_3330 C...,3330 Cumberland Blvd,South,Atlanta,GA,30339.0,Northwest,A,965.0,NaN,NaN,New,NaN,436994,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
2,2018,Q1,1.0,Atlanta,1000 Parkwood,Atlanta_Northwest_Atlanta_1000 Parkwood_1000 P...,1000 Parkwood Cir SE,South,Atlanta,GA,30339.0,Northwest,A,2215.0,Efc Moen,NaN,New,NaN,434890,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
3,2018,Q1,1.0,Atlanta,1100 Circle 75,Atlanta_Northwest_Atlanta_1100 Circle 75_1100 ...,1100 Circle 75 Pky SE,South,Atlanta,GA,30339.0,Northwest,O,1925.0,NaN,NaN,New,NaN,434720,Relet,Suburban,65810449.0,12728989.0,0.193419,18.560886,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715742.0
4,2018,Q1,1.0,Atlanta,1200 Ashwood,Atlanta_Central Perimeter_Atlanta_1200 Ashwood...,1200 Ashwood Pky,South,Atlanta,GA,30338.0,Central Perimeter,A,2404.0,NaN,NaN,New,NaN,437562,Relet,Suburban,101140416.0,20239067.0,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0

# Merging the two tables
So we can access latitude and longitude

In [22]:
result = pd.merge(
    leases,
    zip_codes[['zip', 'lat', 'lng']],
    on='zip',
    how='left'
)
result = result.dropna(subset=['lat', 'lng'])
len(result)

193935

# JSON Time
We are turning the data we have from the merged table to a json with lat and long points we can use to put on the map visualisation

In [ ]:
points_on_map = result[
    ['year', 'quarter', 'building_name', 'building_id', 
     'company_name', 'lat', 'lng']
].rename(columns={
    'lat': 'lat',
    'lng': 'long'
}).dropna(subset=['lat', 'long'])

print(f"Success Rate: {round(len(points_on_map) / len(leases) * 100, 2)}%")


points_on_map = points_on_map.where(pd.notnull(points_on_map), None)

quarters = points_on_map['quarter'].unique().tolist()
years = points_on_map['year'].unique().tolist()


data = {}


for year in years:
    for quarter in quarters:
        data[f'{year}-{quarter}'] = []

        if 

# Convert to list of dictionaries
# json_list = json_data.to_dict(orient='records')

# # Save to file
# with open('leasing_data.json', 'w') as f:
#     json.dump(points_on_map, f, indent=4)

# # Or get as JSON string
# json_output = json.dumps(points_on_map, indent=4)

# print(f"Generated {len(json_lis)} entries")
# print("Example entry:")
# print(json.dumps(json_list[0], indent=4))

Success Rate: 99.61%